@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#030712] text-slate-100 min-h-screen font-sans;
  }
}

.aura-bg {
  background: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
  background-attachment: fixed;
}

.glass-panel {
  @apply bg-slate-900/40 backdrop-blur-xl border border-white/5 shadow-2xl;
}